<!doctype html>
<html lang="en">

<head>
    <title>Dino Shanafer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/main.css">
    <script src="https://kit.fontawesome.com/4554d31e64.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/code.js"></script>
</head>

<body>
    <!-- Loader -->
    <section class="loader-container">
        <div class="loader"></div>
    </section>
    <nav class="navbar fixed-top navbar-expand-lg " id="myNavbar">
        <div class="container-fluid">
            <a href="../../index.html" class="navbar-brand"><i class="fa-brands fa-d-and-d fs-1"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars fs-3" style="color: white;"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-3"> <a class="nav-link active" aria-current="page"
                            href="../gallery.html">Gallery</a> </li>
                    <li class="nav-item px-3"> <a class="nav-link " aria-current="page" href="../about.html">About
                            Shanafer</a> </li>
                    <li class="nav-item px-3"> <a class="nav-link " aria-current="page" href="../editing.html">Editing
                            Class</a> </li>
                    <li class="nav-item px-3"> <a class="nav-link " aria-current="page" href="../tour.html">Tour</a>
                    </li>
                    <li class="nav-item px-3"> <a class="nav-link  text-white-50" aria-current="page"
                            href="./PrintHome.html">Print</a> </li>
                    <li class="nav-item px-3"> <a class="nav-link " aria-current="page"
                            href="../contact.html">Contact</a>
                    </li>
                    <li class="nav-item px-3"> <a class="nav-link " aria-current="page" href="#"><img
                                src="../../img/flag.png" alt="" width="30px"></a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <span id="top"></span>

    <!-- modal -->
    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
        <div class="modal-dialog modal-xl " role="document">
            <div class="modal-content">
                <div class="modal-header text-white bg-dark">
                    <h5 class="modal-title">Enquire</h5>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">Close
                    </button>
                </div>
                <div class="modal-body  bg-dark text-white">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <img src="" alt="" width="100%" id="modal-pic">
                            </div>
                            <div class="col-lg-6 col-12 mt-sm-0 mt-3" >
                                <form action="">
                                    <p>Size :</p>
                                    <div class="d-flex justify-content-evenly ">
                                        <input type="radio" class="btn-check" name="options" id="option1"
                                            autocomplete="off">
                                        <label class="btn btn-outline-light " for="option1">Small</label>

                                        <input type="radio" class="btn-check" name="options" id="option2"
                                            autocomplete="off">
                                        <label class="btn  btn-outline-light " for="option2">Medium</label>
                                        
                                        <input type="radio" class="btn-check" name="options" id="option3"
                                            autocomplete="off">
                                        <label class="btn  btn-outline-light" for="option3">Large</label>

                                        <input type="radio" class="btn-check" name="options" id="option4"
                                            autocomplete="off">
                                        <label class="btn  btn-outline-light" for="option4">Huge</label>
                                    </div>
                                    <p class="mt-4">Medium :</p>
                                    <div class="d-sm-flex d-none justify-content-evenly ">
                                        <input type="radio" class="btn-check" name="options-base" id="option5"
                                            autocomplete="off">
                                        <label class="btn btn-outline-light" for="option5">Canvas</label>

                                        <input type="radio" class="btn-check" name="options-base" id="option6"
                                            autocomplete="off">
                                        <label class="btn btn-outline-light" for="option6">Acrylic Glass</label>

                                        <input type="radio" class="btn-check" name="options-base" id="option7"
                                            autocomplete="off">
                                        <label class="btn btn-outline-light" for="option7">Archival paper</label>
                                    </div>
                                    <div class=" d-sm-none d-block">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Canvas</label>
                                          </div>
                                          <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Acrylic Glass</label>
                                          </div>
                                          <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Archival paper</label>
                                          </div>
                                                                                                                              
                                    </div>
                                    <div class="mt-5">
                                        <div>
                                            <input class="p-sm-3 my-sm-2  my-3" type="text" name="" id="" placeholder="Name">
                                            <input class="p-sm-3 my-sm-2 my-3" type="text" name="" id="" placeholder="Email">
                                            <input class="p-sm-3 my-sm-2 my-3" type="text" name="" id="" placeholder="Phone">
                                            <div style="width: 100%;text-align: center;" class="mt-lg-5 mt-3">
                                                <input type="submit" class="btn btn-outline-light" value="Enquire" style="width: 80%;"> 
                                            </div>
                                        </div>    
                                        
                                        <!-- <input type="submit" class="btn btn-outline-light mt-3 d-xl-block d-none" value="Enquire">  -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fuild mt-5">
        <div class="row mt-lg-5">
            <div class="col-12 d-flex flex-column flex-sm-row  justify-content-evenly">
                <div class="img-box" onclick="getmodal('a1.png')">
                    <img src="./img/a1.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a2.png')">
                    <img src="./img/a2.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a3.png')">
                    <img src="./img/a3.png" class="p-4" alt="" width="100%">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-column flex-sm-row  justify-content-evenly">
                <div class="img-box" onclick="getmodal('a4.png')">
                    <img src="./img/a4.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a5.png')">
                    <img src="./img/a5.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a6.png')">
                    <img src="./img/a6.png" class="p-4" alt="" width="100%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex flex-column flex-sm-row  justify-content-evenly">
                <div class="img-box" onclick="getmodal('a7.png')">
                    <img src="./img/a7.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a10.png')">
                    <img src="./img/a10.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a9.png')">
                    <img src="./img/a9.png" class="p-4" alt="" width="100%">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex flex-column flex-sm-row  justify-content-evenly">
                <div class="img-box" onclick="getmodal('a8.png')">
                    <img src="./img/a8.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a11.png')">
                    <img src="./img/a11.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a12.png')">
                    <img src="./img/a12.png" class="p-4" alt="" width="100%">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 d-flex flex-column flex-sm-row  justify-content-evenly">
                <div class="img-box" onclick="getmodal('a14.png')">
                    <img src="./img/a14.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a15.png')">
                    <img src="./img/a15.png" class="p-4" alt="" width="100%">
                </div>
                <div class="img-box" onclick="getmodal('a16.png')">
                    <img src="./img/a16.png" class="p-4" alt="" width="100%">
                </div>
            </div>
        </div>


    </div>


    <div class="container-fuild text-white-50 " style="background-color: #212326;">
        <div class="row">
            <span class="px-lg-3 p-sm-2 d-sm-none d-block mt-xl-1 text-center mt-3">Join the conversation</span>
            <div
                class="col-lg-11 col-12 d-flex  justify-content-sm-end justify-content-center m-xl-4 my-md-3 align-self-center">
                <span class="px-lg-3 p-sm-2 d-sm-block d-none mt-xl-1">Join the conversation</span>
                <i class="fab fa-facebook px-lg-3 p-sm-2 p-4 fs-4" aria-hidden="true"></i>
                <i class="fab fa-instagram px-lg-3 p-sm-2 p-4 fs-4" aria-hidden="true"></i>
                <i class="fab fa-twitter px-lg-3 p-sm-2 p-4 fs-4" aria-hidden="true"></i>
                <i class="fab fa-youtube px-lg-3 p-sm-2 p-4 fs-4" aria-hidden="true"></i>
                <i class="fab fa-linkedin-in px-lg-3 p-sm-2 p-4 fs-4" aria-hidden="true"></i>
            </div>
            <hr class="d-lg-block d-none">
        </div>

        <div class="row d-lg-flex d-none" style="font-size:15px !important;">
            <div class="offset-md-1 col-md-2 col-3 ">
                <h3 style="font-size: 20px !important;" class="mb-3">Details</h3>
                <p>photo 350</p>
                <p>Picture 411</p>
                <p>Tour 350</p>
                <p>World tour</p>
                <p>Teams</p>
                <p>Person</p>
            </div>
            <div class="col-lg-2 col-3">
                <h3 style="font-size: 20px !important;" class="mb-3">Locate Us</h3>
                <p>Center</p>
                <p>Stores</p>
                <p>Owner's Manual</p>
                <p>Contact Us</p>
            </div>
            <div class="col-lg-2 col-3">
                <h3 style="font-size: 20px !important;" class="mb-3">About Us</h3>
                <p>Since 2000</p>
            </div>
            <div class="col-lg-2 col-3">
                <h3 style="font-size: 20px !important;" class="mb-3">Media</h3>
                <p>News</p>
            </div>
        </div>

        <div class="row" style="font-size: 12px;">
            <span class="d-flex justify-content-end px-5 py-3" >
                <a href="#top">
                    <i class="fas fa-angle-up fs-4  p-2 rounded-1 text-white" id="bottom-top-icon"></i>
                </a>
              </span>
            <hr>
            <div class="col-xxl-5  col-lg-8 col-12">
                <p class="px-5">
                    © 2023. Dino Shanafer | Images have Copyright
                </p>
            </div>
            <div class="col-xxl-3  offset-xxl-4 col-lg-4 col-12 mb-3 d-flex justify-content-evenly px-5">
                <span>Privacy</span>
                <span>|</span>
                <span>Terms &amp; Condition</span>
                <span>|</span>
                <span>Cookies</span>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../../js/navbarscroll.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->


</body>

</html>